<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>

<body>
    <header>My Travel App</header>
    <nav></nav>
    <div class="container">
        <div id="form-div">
            <form class="city">
                <label for="city">Enter city: </label>
                <input type="text" id="city" placeholder="Enter a city" required>
                <button id="submitBtn" type="submit">Submit</button>
            </form>
        </div>
        <section id="img-section">
            <img id="destination-img" src="" alt="">
        </section>
        <section id="info-section">
            <h1>My trip</h1>
            <div class="info">
                <div id="lat"></div>
                <div id="lng"></div>
                <div id="countryCode"></div>
            </div>
        </section>
    </div>

    <footer>This is footer</footer>
</body>
<script src="../index.js" type="application/json"></script>

</html>